Elevenlabs_Booking_Agent.json
{
  "name": "Elevenlabs Booking Agent",
  "nodes": [
    {
      "parameters": {
        "name": "calendarAgent",
        "description": "Call this tool for any calendar action.",
        "workflowId": {
          "__rl": true,
          "value": "QBd8zQfEj80MceBG",
          "mode": "list",
          "cachedResultName": "Calendar Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        360,
        520
      ],
      "id": "29f049bb-59cb-4a86-bca0-742a01065745",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eb73d87e-c538-4b0a-b49d-834ed6aebf88",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        200
      ],
      "id": "3840e3d3-80f8-460d-8af1-31baa71406a1",
      "name": "Webhook",
      "webhookId": "eb73d87e-c538-4b0a-b49d-834ed6aebf88"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        360,
        200
      ],
      "id": "754952cf-7358-4b4b-ae5f-bdab8636313b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -280,
        520
      ],
      "id": "1664ee5e-89f7-4ffd-8024-5ef26cd88bb4",
      "name": "4o",
      "credentials": {
        "openAiApi": {
          "id": "JnIGlK4sw6vE6woY",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.headers.host }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -160,
        520
      ],
      "id": "c4916168-0b10-4d8c-9bc9-f338398f2c34",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -20,
        520
      ],
      "id": "6ce491ef-9b90-4535-9d97-ddefd813f178",
      "name": "Think"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Request: {{ $json.query.request }}\n\nAppointment date: {{ $json.body.date }}\n\nTime: {{ $json.body.time }}\n\nEmail: {{ $json.body.email }}",
        "options": {
          "systemMessage": "=# Overview\nYou are the ultimate personal assistant. Your job is to send the user's query to the correct tool. You should never be writing emails, or creating even summaries, you just need to call the correct tool.\n\n## Tools\n- calendarAgent: Use this tool to take action in calendar.  This includes checking avaiability and booking appointments.\n- Think: Use this if you get stuck and need to troubleshoot or problem solve\n\n\n## Final Reminders\nHere is the current date/time: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -20,
        200
      ],
      "id": "46b20121-039f-494b-ade9-59f93279f305",
      "name": "Booking Agent"
    },
    {
      "parameters": {
        "content": "## Agent Brain",
        "height": 200,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        440
      ],
      "id": "43833c7e-8cd3-4983-ae60-b94280c2d44e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Sub-Agents",
        "height": 200,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        440
      ],
      "id": "5577c7c2-783a-4d85-9abc-57032634ab98",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "omaralmubarak.app.n8n.cloud",
            "user-agent": "Python/3.12 aiohttp/3.11.16",
            "content-length": "69",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.59.11.47",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "94f10861b0fe61be-ORD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "34.59.11.47, 172.70.194.146",
            "x-forwarded-host": "omaralmubarak.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-31-674f44b4c9-d78g2",
            "x-is-trusted": "yes",
            "x-real-ip": "34.59.11.47"
          },
          "params": {},
          "query": {
            "request": "Customer is ready to book a meeting"
          },
          "body": {
            "date": "June 16th",
            "email": "omar@hotmail.com",
            "time": "11 a.m."
          },
          "webhookUrl": "https://omaralmubarak.app.n8n.cloud/webhook-test/eb73d87e-c538-4b0a-b49d-834ed6aebf88",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "Booking Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Booking Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4o": {
      "ai_languageModel": [
        [
          {
            "node": "Booking Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Booking Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Booking Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Booking Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "af61988a-0c77-4b41-b33c-3ef6a81947b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76aebe7beb8f6f9a9571909013aeceeb69c83c6a10994f3f3231ccf0cb39bf98"
  },
  "id": "PlwNjldtKSp8KIre",
  "tags": []
}